
@font-face {
    font-family: 'inter';
    src: url('fonts/subset-Inter28pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'inter-regular';
    src: url('fonts/subset-Inter18pt-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 50%;
}
sub { 
  top: 0.4em; 
} */

html, body {
  width:970px;
  height:250px;
  margin: 0;
}

#main,
#background {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:250px;
  background-color: #fff;
}

#main {
  overflow:hidden;
}

#image-container {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:250px;
  overflow:hidden;
}

#text-container {
  width: 970px;
  height: 250px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.absolute {
  position:absolute;
  top: 0px;
  left: 0px;
  height: auto;
}

.full-width {
  width: 970px;
  height: auto;
}

.copy {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  color: #ffffff;
}

.inter {
  font-family: 'inter', sans-serif;
}

.text-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.blue-text {
  color: #0a2f46;
}

.copy1 {
  width: 600px;
  top: 71px;
  left: 41px;
  font-size: 33px;
  line-height: 55px;
  letter-spacing: 1.2px;
}
#text-2 {
    line-height: 36px;
    top: 80px;
}
.sees {
    display: block;
    position: absolute;
    left: 182px;
}
.copy2 {
  width: 600px;

  top: 53px;
  left: 50px;

  font-size: 62px;
  line-height: 72px;
}

.copy3 {
  font-size: 21px;
  line-height: 24px;
}

.copy-legal {
  font-size: 7px;
  text-align: left;
}

#text-1 {
  width: 970px;
}

#text-1b {
  color: #ff6100;
  width: 270px;
  /* background: #ff6100;
  background: linear-gradient(0deg,rgba(255, 151, 86, 1) 0%, rgba(255, 107, 17, 1) 33%, rgba(255, 107, 17, 1) 66%, rgba(255, 96, 0, 1) 100%);
  background: -webkit-linear-gradient(0deg,rgba(255, 151, 86, 1) 0%, rgba(255, 107, 17, 1) 33%, rgba(255, 107, 17, 1) 66%, rgba(255, 96, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

#text-1b,
#text-3a,
#text-4 {
  color: #ff6100;
}

#text-1c {
  color: #ffffff;
}

#text-1b-container {
  width: 0px;
  height: 250px;

  overflow: hidden;

}
#text-3{
  top: 80px;
  left: 400px;
  font-size: 33.4px;
  line-height: 37px;
}
#text-4{
  width: 600px;
  top: 83px;
  left: 37px;
  font-size: 41px;
  line-height: 69px;
  letter-spacing: 0.4px;
}
#text-4 sup{
  position: relative;
  font-size: 100%;
  line-height: 0px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  top: -3px;
  left: -1px;
}
#frame-1,
#frame-2,
#frame-3,
#solid {
  top: 0;
  left: 0;

  width: 970px;
  height: 250px;

  transform-origin: 78.4% 31%;
}
#frame-1, #frame-2{
  transform-origin: 83.9% 40%;
}
#bg-1,
#bg-1-icon {
    transform-origin: 48.1% 42%;
    z-index: 5;
}

#solid {
  background-color: #0a2f46;
}

#icon-1,
#icon-2 {
  top: 250px;
  
  transform-origin: 28.6% 50%;

  z-index: 10;
}

#icon-1 {
  left: -150px;
}

#icon-2 {
  left: 150px;
}

#cta,
#cta-2,
#cta-3 {
  position: absolute;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  transform-origin: center;
  border-radius: 100px;
  top: 126px;
  left: 804px;
  background: none;
  border: 1.5px #ff6100 solid;
  color: #ffffff;
  font-size: 16.7px;
  line-height: 18px;
  letter-spacing: 0.02rem;
  width: 136px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'inter-regular';
}

#cta-2 {
  background: #0a2f46;
  border: none;
  width: 180px;
  height: 48px;
  top: 135px;
  left: 745px;
}

#cta-text {
  position: relative;
  top: -1px;
}

#chevron {
  position: relative;
  top: 1px;
  width: auto;
  height: 13px;
}

.logo {
  width: 113px;

  top: 204px;
  left: 160px;
}

#bgExit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 85;
  background-color: rgba(255,255,255,0);
  border:1px solid #000000;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
