
@font-face {
    font-family: 'inter';
    src: url('fonts/subset-Inter28pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'inter-regular';
    src: url('fonts/subset-Inter18pt-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 50%;
}
sub { 
  top: 0.4em; 
} */

html, body {
  width:970px;
  height:250px;
  margin: 0;
}

#main,
#background {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:250px;
  background-color: #fff;
}

#main {
  overflow:hidden;
}

#image-container {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:250px;
  overflow:hidden;
}

#text-container {
  width: 970px;
  height: 250px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.absolute {
  position:absolute;
  top: 0px;
  left: 0px;
  height: auto;
}

.full-width {
  width: 970px;
  height: auto;
}

.copy {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  color: #ffffff;
}

.inter {
  font-family: 'inter', sans-serif;
}

.text-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.blue-text {
  color: #0a2f46;
}

.copy1 {
  top: 80px;
  left: 41px;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 1.2px;
}
#text-3{
  left: 400px;
}
#text-4{
  width: 600px;
  top: 83px;
  left: 37px;
  font-size: 41px;
  line-height: 69px;
  letter-spacing: 0.4px;
  color: #ff6100;
}
#text-4 sup{
  position: relative;
  font-size: 100%;
  line-height: 0px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  top: -3px;
  left: -1px;
}
#frame-1,
#solid {
  top: 0;
  left: 0;

  width: 970px;
  height: 250px;

  transform-origin: 78.4% 31%;
}
#frame-1{
  transform-origin: 83.9% 40%;
}
#bg-1,
#bg-1-icon {
    transform-origin: 48.1% 42%;
    z-index: 5;
}

#solid {
  background-color: #0a2f46;
}

#icon-1,
#icon-2 {
  top: 250px;
  
  transform-origin: 28.6% 50%;

  z-index: 10;
}

#icon-1 {
  left: -150px;
}

#icon-2 {
  left: 150px;
}

#cta{
  position: absolute;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  transform-origin: center;
  border-radius: 100px;
  top: 126px;
  left: 804px;
  background: none;
  border: 1.5px #ff6100 solid;
  color: #ffffff;
  font-size: 16.7px;
  line-height: 18px;
  letter-spacing: 0.02rem;
  width: 136px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'inter-regular';
}

#cta-text {
  position: relative;
  top: -1px;
}

#chevron {
  position: relative;
  top: 1px;
  width: auto;
  height: 13px;
}

.logo {
  width: 113px;

  top: 204px;
  left: 160px;
}

#bgExit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 85;
  background-color: rgba(255,255,255,0);
  border:1px solid #000000;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.box{
  position: relative;
  left: 484px;
  top: 37px;
  width: 234px;
  height: 160px;
  border-radius: 10px;
  background: linear-gradient(135deg, #0b3a5f 0%, #0f4f7d 40%, #0b3a5f 70%, #0a2f55 100%);
  box-shadow: inset 0 0 0 0.5px rgba(60, 180, 255, 0.35), inset 0 0 30px rgba(0, 120, 200, 0.35), 0 0 40px rgba(0, 120, 255, 0.25);
  overflow: hidden;
  padding: 6px;
}

.inner-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.inner-box img{
  width: 468px;
  transform: translate(0px, 0px);
}
.logo{
  width: 138px;
  top: 87px;
  left: 804px;
  position: absolute;
}

.star{
  position: absolute;
  top: 191px;
  left: 425px;
  width: 25px;
}
.star2{
  left: 731px;
  top: 224px;
  width: 8px;
}
.star3{
  top: 30px;
  left: 470px;
  width: 8px;
}
.card2{
  position: absolute;
  left: 379px;
  top: 61px;
  width: 127px;
}