
@font-face {
    font-family: 'inter';
    src: url('fonts/subset-Inter28pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'inter-regular';
    src: url('fonts/subset-Inter18pt-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 50%;
}
sub { 
  top: 0.4em; 
} */
*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html, body {
  width:160px;
  height:600px;
  margin: 0;
}

#main,
#background {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:600px;
  background-color: #fff;
}

#main {
  overflow:hidden;
}

#image-container {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:600px;
  overflow:hidden;
}

#text-container {
  width: 160px;
  height: 600px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.absolute {
  position:absolute;
  top: 0px;
  left: 0px;
  height: auto;
}

.full-width {
  width: 160px;
  height: auto;
}

.copy {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  color: #ffffff;
}

.inter {
  font-family: 'inter', sans-serif;
}

.text-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.blue-text {
  color: #0a2f46;
}

.copy1 {
  left: 17px;
  top: 29px;
  font-size: 24.2px;
  line-height: 29.5px;
}
#text-1b{
  left: 17px;
  top: 55px;
  line-height: 25px;
}
#text-3{
  top: 352px;
  left: 18px;
  font-size: 24px;
  line-height: 24.5px;
}

#text-4{
  left: 18px;
  top: 26px;
  font-size: 38px;
  line-height: 40px;
  letter-spacing: 0.5px;
}
#text-4 sup{
   position: relative;
  font-size: 100%;
  line-height: 0px;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  top: -4px;
  left: 0px;
}
.copy-legal {
  font-size: 7px;
  text-align: left;
}

#text-4{
  left: 17px;
  top: 209px;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.3px;
  color: #ff6100;
}
#text-2{
  left: 106px;
}
#text-4 sup{
  position: relative;
  font-size: 100%;
  line-height: 0px;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  top: -2px;
  left: 1px;
}
#frame-1,
#frame-2,
#frame-3,
#solid {
  top: 0;
  left: 0;

  width: 160px;
  height: 600px;
  
  transform-origin: 55% 87%;
}
#frame-1, #frame-2{
  transform-origin: 6% 92%;
}
/* #bg-1-icon{
  background-color: #0a2f46;
} */
#solid {
  background-color: #0a2f46;
}

#bg-1,
#bg-1-icon {
    transform-origin: 41.3% 46.2%;
    z-index: 5;
}

#icon-1,
#icon-2 {
  top: 600px;
  
  transform-origin: 28.6% 50%;

  z-index: 10;
}

#icon-1 {
  left: -150px;
}

#icon-2 {
  left: 150px;
}

#cta,
#cta-2,
#cta-3 {
  position: absolute;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  transform-origin: center;
  border-radius: 100px;
  top: 547px;
  right: 18px;
  background: none;
  border: 1px #ff6100 solid;
  color: #ffffff;
  font-size: 14.4px;
  line-height: 12px;
  letter-spacing: 0.02rem;
  width: 123px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'inter-regular';
}

#cta-2 {
  background: #0a2f46;
  border: none;
  width: 89px;
  height: 25px;
}

#cta-text {
  position: relative;
  /* top: 1px; */
}

#chevron {
  position: relative;
  top: 1px;
  width: auto;
  height: 13px;
}

/* .logo {
  width: 113px;

  top: 204px;
  left: 160px;
} */

#bgExit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 85;
  background-color: rgba(255,255,255,0);
  border:1px solid #000000;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.box{
  position: relative;
  left: 22px;
  top:206px;
  width: 123px;
  height: 218px;
  border-radius: 10px;
  background: linear-gradient(135deg, #0b3a5f 0%, #0f4f7d 40%, #0b3a5f 70%, #0a2f55 100%);
  box-shadow: inset 0 0 0 0.5px rgba(60, 180, 255, 0.35), inset 0 0 30px rgba(0, 120, 200, 0.35), 0 0 40px rgba(0, 120, 255, 0.25);
  overflow: hidden;
  padding: 6px;
}

.inner-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.inner-box img{
  width: 100%;
  transform: translate(0px, -1px);
}
.logo{
  width: 124px;
  top: 512px;
  left: 18px;
  position: absolute;
}

.star{
  position: absolute;
  top: 179px;
  left: 29px;
  width: 20px;
}
.star2{
  left: 108px;
  top: 433px;
  width: 10px;
}
.star3{
  top: 57px;
  left: 85px;
  width: 6px;
}
.card1{
  position: absolute;
  left: 55px;
  top: 160px;
  width: 76px;
}
.card2{
  position: absolute;
  left: 14px;
  top: 394px;
  width: 81px;
}